# SPDX-FileCopyrightText: © 2021 Victor Derks
# SPDX-License-Identifier: MIT

# User-specific files
**/Properties/launchSettings.json

# Build results
artifacts/

# Visual Studio cache/options directory
.vs/
